Makefile
Makefile.in
configure
build/
autom4te.cache/
.deps/
*.o
*~
\#*\#
aclocal.m4
config.h
config.h.in
config.log
config.status
data/*.desktop
data/yad.m4
data/yad.spec
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/*.pot
po/*.gmo
po/stamp-it
src/yad
src/yad-icon-browser
src/yad-tools
src/yad-settings
src/*.sh
stamp-h1
*.tar.xz
build.log
*.gschema.xml
*.gschema.valid
