Makefile
Makefile.in
configure
build/
autom4te.cache/
intl/
m4/
.deps/
*.o
*~
\#*\#
aclocal.m4
config.h
config.h.in
config.log
config.status
data/*.desktop
data/yad.m4
data/yad.spec
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/*.pot
po/*.gmo
po/*.sed
po/*.header
po/*.sin
po/stamp-it
src/yad
src/yad-icon-browser
src/yad-tools
src/yad-settings
src/*.sh
stamp-h1
*.tar.xz
build.log
*.gschema.xml
*.gschema.valid
ABOUT-NLS
ChangeLog